@model Cadastro_MVC.Departamento

@{
    ViewBag.Title = "Deletar Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h4>Tem certeza que deseja excluir o Departamento?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <a href="@Url.Action("Index", "Departamentos")" class="btn btn-secondary">Voltar</a>
            <input type="submit" value="Deletar" class="btn btn-primary ml-2" />
        </div>
    }
</div>
