@model Cadastro_MVC.Departamento

@{
    ViewBag.Title = "Detalhes do Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>

<div class="form-group">
    <a href="@Url.Action("Index", "Departamentos")" class="btn btn-secondary">Voltar</a>
    <a href="@Url.Action("Edit", "Departamentos", new { id = Model.Id })" class="btn btn-secondary">Editar</a>
</div>