@model Cadastro_MVC.Funcionarios

@{
    ViewBag.Title = "Editar Funcionário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Sobrenome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            RG:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt>
            CPF:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            Endereço:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            Bairro:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            Cidade:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            Estado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>

        <dt>
            Departamento:
        </dt>

        <dd>
            @{
                var departamentos = ViewBag.Departamentos as List<Cadastro_MVC.Departamento>;
                var departamento = departamentos?.FirstOrDefault(d => d.Id == Model.Departamento);
                @departamento.Nome
            }
        </dd>


    </dl>
</div>
<div class="form-group">
    <a href="@Url.Action("Index", "Funcionarios")" class="btn btn-secondary">Voltar</a>
    <a href="@Url.Action("Edit", "Funcionarios", new { id = Model.Id_Func })" class="btn btn-secondary">Editar</a>
</div>
